
html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    background-color: white;
    max-width: 1154px;
    margin: 0 auto;
    padding: 0 10;
}

.body{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
}

.header__inner{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.header-main{
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.menu__list{
    padding-left:450px;
    display: flex;
    gap: 25px;
}

.menu__list a {
    color: rgb(30, 30, 253);
}

.menu__list-link{
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

.footer{
    margin-top: 180px;
    z-index: 5;
    left: 0;
    right: 0;
}
.footer__menu{
    background-color:white;
    padding: 15px 0 15px;
    color: #4972f8cf;
    display: flex;
    justify-content: space-evenly;
    padding-top: 300px;
    margin-bottom: 20px;
}

.footer__menu-title{
    font-size: 24px;
    font-weight: 700;

}

.footer__menu-item + .footer__menu-item{
    padding-top: 5px;
}

.footer__copy{
    columns: 2;
    column-gap: 1px;
    margin-bottom: 15px;
}

.footer__copy-text{
    margin-top: 35px;
    text-align: right;
    font-size: 28px;
    color: rgb(51, 54, 247);
    font-weight: 700;
}

.footer__info-text{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: rgb(67, 70, 240);
}

.footer__copyright{
    margin-top: 15px;
}

.footer__copyright-text{
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: rgb(93, 95, 238);
}

.main{
    flex-grow: 1;
}

.top{
    color: white;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 50px;
}

.title{
    padding-bottom: 15px;
    font-size: 56px;
    z-index: 2;
    left: 0;
    right: 0;
}

.title-text{
    font-size: 20px;
    max-width: 600px;
    width: 100%;
    display: inline-block;
}

.title-img {
    left: 0;
    right: 0;
    margin: 10px -375px 20px;
    display: block;
}

.title-img1{
    width: 1920px;
    height: 800px;
}

.title-box{
    top: 400px;
    z-index: 11;
    left: 0;
    right: 0;
    position:absolute
}

.main_about_catologue img{
    margin: 10px auto 40px;
    display: block;
    width: 1105px;
}

.main-info__catalogues{
    columns: 5;
    margin-top: 25px;
}

.main-info__catalogue1{
    font-size: 20px;
    align-items: center;
    background-color: rgb(45, 76, 255);
    width: 180px;
    color: white;
    text-align: center;
}

.main-info__catalogue2{
    font-size: 20px;
    align-items: center;
    background-color: rgb(80, 106, 252);
    width: 180px;
    color: white;
    text-align: center;
}

.main-info__catalogue3{
    font-size: 20px;
    align-items: center;
    background-color: rgb(80, 106, 252);
    width: 180px;
    color: white;
    text-align: center;
}

.main-info__catalogue4{
    font-size: 20px;
    align-items: center;
    background-color: rgb(80, 106, 252);
    width: 180px;
    color: white;
    text-align: center;
}

.main-info__list{
    margin-top: 25px;
    columns: 50px 3;
}    

.main-info__list h3{
    color: rgb(6, 14, 90);
}

.main-info__item{
    margin: auto;
    text-align: center;
    max-width: 300px;
    padding-top: 45px;
}

.main-info__item-title{
    font-size: 24px;
}

.main-info__item-text{
    font-size: 20px;
}

.delivery__image{
    margin-bottom: 75px;
}

.about-us__text1{
    margin-top: 100px;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.3 
}

.feedback__title1{
    font-size: 48px;
    font-weight: 700;
    color: #F65959CF;
    text-align: center;
}

.feedback__item{
    margin-top: 50px;
}

.feedback__item-title{
    font-weight: 700;
    font-size: 24px;
}

.feedback__item-text{
    font-size: 24px;
    line-height: 1.3;
}

.feedback__images{
    margin-top: 35px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}

.feedback__item-text2{
    font-size:24px;
}

.delivery__item-title{
    margin-bottom: 5px;
    line-height: 1.5;
    font-size: 36px;
}

.delivery__item-text{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.delivery__item1{
    margin-right: 300px;
    position: absolute;
    z-index: 1
}

.delivery__item2{
    margin-left: 700px;
    z-index: -1;
    margin-bottom: 100px;
}

.delivery__image1{
    width:80%;
    display: block;
    margin: auto;
}

.about-us__img img{
    display: block;
    margin: auto;
}

.about-us__text1{
    font-size: 24px;
}